{
    "root": true,
    "extends": [
        "plugin:@typescript-eslint/recommended",
        "nfen/react",
        "nfen/plugins/import"
    ],
    "parser": "@typescript-eslint/parser",
    "env": {
        "jest": true,
        "es6": true
    },
    "globals": {
        "expect": false
    }
}